name: API BDD CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  schedule:
    - cron: '30 1 * * *'   # Run daily at 7:00 AM IST

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: APIBDDFramework1  # Folder containing pom.xml

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Build & run tests
        run: mvn -B clean test

      - name: Upload Cucumber report (target/)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-report
          path: APIBDDFramework1/target
